@{
    ViewData["Title"] = "About us";
}

<style>

    .btn-rounded {
        border-radius: 20px;
        background: linear-gradient(to right, #FFD700, #FF6347);
        color: #fff;
        font-family: 'Arial', sans-serif;
        padding: 15px 25px;
        font-size: 13px;
        border: none;
        cursor: pointer;
    }

        .btn-rounded:hover {
            background: linear-gradient(to right, #FF6347, #FFD700);
        }
</style>

<div class="video-background">
    <video autoplay muted loop id="video-bg">
        <source src="/videos/2.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>

<div class="text-center" style="margin-top: 150px; color:white;">
    <h1 class="display-4">Comming soon...</h1>
    <br />
    <p>
        Here you will see information about our team.
        <br />
        
        <br />
        <br />
        
    </p>
    
</div>

